In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data/job_schedule.xlsx")
df.head()

  Job  Duration  Deadline
0   A         2         4
1   B         1         3
2   C         3         6
3   D         1         2
4   E         2         5

In [3]:
jobs = [(row["Job"], int(row["Duration"]), int(row["Deadline"])) for _, row in df.iterrows()]
        #.iterrows() lets you loop row by row
jobs

[('A', 2, 4), ('B', 1, 3), ('C', 3, 6), ('D', 1, 2), ('E', 2, 5)]

In [5]:
# now we want to sort by deadline
df.sort_values(by = "Deadline", inplace = True)
df

  Job  Duration  Deadline
3   D         1         2
1   B         1         3
0   A         2         4
4   E         2         5
2   C         3         6

In [11]:
t = 0

for i in range(len(df)):
    if t + df.iloc[i]["Duration"] <= df.iloc[i]["Deadline"]:
        print(f"Job {df.iloc[i]["Job"]} will start on day {t} and finished on day {t + df.iloc[i]["Duration"]}")
        t += df.iloc[i]["Duration"]
    else:
        print(f"Job {df.iloc[i]["Job"]} cannot be scheduled.")

Job D will start on day 0 and finished on day 1
Job B will start on day 1 and finished on day 2
Job A will start on day 2 and finished on day 4
Job E cannot be scheduled.
Job C cannot be scheduled.