In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("data/cellphones.xlsx")
df.head()

                       Name    Maker  RAM (GB)  Typical Price in Spain (€)
0                 iPhone 15    Apple         6                         959
1             iPhone 15 Pro    Apple         8                        1219
2         iPhone 15 Pro Max    Apple         8                        1469
3                OnePlus 11  OnePlus        16                         849
4  Samsung Galaxy S23 Ultra  Samsung        12                        1419

In [8]:
# we initialize 17 buckets for the 17 different RAM possibilities (0-16)
buckets = [[] for _ in range(17)]

# now for each cellphone, we put it in its respective bucket
for i in range(len(df)):
    buckets[df.iloc[i]["RAM (GB)"]].append(df.iloc[i])
    # df.iloc[i]["RAM (GB)"]   → looks inside that row and extracts the RAM number. Example: 6.
    # buckets[df.iloc[i]["RAM (GB)"]  → this means “select the bucket whose index equals the RAM number.”
    # .append(df.iloc[i])  → once you’ve chosen the right bucket (step 3), now you just stick the phone row into it.

for bucket in buckets:      # go through each RAM bucket, in order (0..16)
    for phone in bucket:    # go through each phone inside that bucket
        print(f"{phone["Name"]} has {phone["RAM (GB)"]} GB")

iPhone 15 has 6 GB
Sony Xperia 10 V has 6 GB
iPhone 15 Pro has 8 GB
iPhone 15 Pro Max has 8 GB
Samsung Galaxy S23 has 8 GB
Samsung Galaxy S23+ has 8 GB
Samsung Galaxy A54 has 8 GB
Google Pixel 8 has 8 GB
Xiaomi 13 has 8 GB
Motorola Razr 40 Ultra has 8 GB
Fairphone 5 has 8 GB
Samsung Galaxy S23 Ultra has 12 GB
Google Pixel 8 Pro has 12 GB
Xiaomi 13 Pro has 12 GB
OnePlus Nord 3 has 12 GB
Oppo Find X5 Pro has 12 GB
Oppo Reno10 Pro+ has 12 GB
Sony Xperia 1 V has 12 GB
Motorola Edge 40 Pro has 12 GB
Realme GT 2 Pro has 12 GB
Realme 11 Pro+ has 12 GB
Honor Magic5 Pro has 12 GB
Honor 90 has 12 GB
Nothing Phone (2) has 12 GB
OnePlus 11 has 16 GB