In [10]:
import pandas as pd
df = pd.read_excel("../data/flights_barajas.xlsx")

df.head()

,Departure_Time,Flight_Number,Destination,Gate,Aircraft_Type,Status
0,2025-08-28 00:00:00,AH2207,Algiers (ALG),Air Algerie Cargo,B738 (7T-VJJ),Estimated dep. 1:06 AM
1,2025-08-28 00:05:00,IB1555,Tenerife (TFS),Iberia,32A,Estimated dep. 12:05 AM
2,2025-08-28 00:10:00,IB123,Lima (LIM),Iberia,359,Scheduled
3,2025-08-28 00:30:00,IB155,Bogota (BOG),Iberia,A359 (EC-OAY),Estimated dep. 12:30 AM
4,2025-08-28 00:30:00,WT117,Palma de Mallorca (PMI),Swiftair,EM2,Scheduled

In [20]:
left = 0
right = len(df) - 1
target_time = pd.to_datetime("28-08-2025 10:00:00", dayfirst=True)

while True:
    mid = (left + right) // 2
    if df.iloc[mid]["Departure_Time"] == target_time:
        print(f"Flight found at index {mid}")
        print(df.iloc[mid])
        break
    elif left == right:
        print("Flight not found")
        break
    elif df.iloc[mid]["Departure_Time"] < target_time:
        left = mid + 1
    else:
        right = mid - 1

Flight found at index 153
Departure_Time        2025-08-28 10:00:00
Flight_Number                        AA69
Destination                   Miami (MIA)
Gate                    American Airlines
Aircraft_Type               B772 (N761AJ)
Status            Estimated dep. 10:22 AM
Name: 153, dtype: object