In [2]:
import pandas as pd
df = pd.read_excel("../data/job_schedule.xlsx")

df

  Job  Duration  Deadline
0   A         2         4
1   B         1         3
2   C         3         6
3   D         1         2
4   E         2         5

In [ ]:
# Earliest Deadline First: we sort ascendingly by deadline
df.sort_values(by="Deadline", inplace=True)
df

In [ ]:
t = 0
for i in range(len(df)):
    # We check if it makes sense to pick up the next job
    if t + df.iloc[i]["Duration"] <= df.iloc[i]["Deadline"]:
        t += df.iloc[i]["Duration"]
        print(f"Job {df.iloc[i]['Job']} starts at {t}, lasts until {t + df.iloc[i]['Duration']}")
    else:
        print(f"Job {df.iloc[i]['Job']} cannot be scheduled")

Job D starts at 1, lasts until 2
Job B starts at 2, lasts until 3
Job A starts at 4, lasts until 6
Job E cannot be scheduled
Job C cannot be scheduled