In [ ]:
import pandas as pd
df = pd.read_excel("../data/cellphones.xlsx")

df.head()

                       Name    Maker  RAM (GB)  Typical Price in Spain (€)
0                 iPhone 15    Apple         6                         959
1             iPhone 15 Pro    Apple         8                        1219
2         iPhone 15 Pro Max    Apple         8                        1469
3                OnePlus 11  OnePlus        16                         849
4  Samsung Galaxy S23 Ultra  Samsung        12                        1419

In [8]:
# Initialize the buckets 0 ... 16 for all possible RAM values
buckets = [[] for _ in range(17)]

# For each cellphone, put it in its bucket
for i in range(len(df)):
    buckets[df.iloc[i]["RAM (GB)"]].append(df.iloc[i])

In [10]:
# Retrieve the sorted list by traversing the buckets
for bucket in buckets:
    for phone in bucket:
        print(phone["Name"])

iPhone 15
Sony Xperia 10 V
iPhone 15 Pro
iPhone 15 Pro Max
Samsung Galaxy S23
Samsung Galaxy S23+
Samsung Galaxy A54
Google Pixel 8
Xiaomi 13
Motorola Razr 40 Ultra
Fairphone 5
Samsung Galaxy S23 Ultra
Google Pixel 8 Pro
Xiaomi 13 Pro
OnePlus Nord 3
Oppo Find X5 Pro
Oppo Reno10 Pro+
Sony Xperia 1 V
Motorola Edge 40 Pro
Realme GT 2 Pro
Realme 11 Pro+
Honor Magic5 Pro
Honor 90
Nothing Phone (2)
OnePlus 11